<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nuevo Formulario </title>
    <h1>Insertar datos en el formulario</h1>

    {% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="{{asset('css/estilosForm.css')}}">
     {% endblock %}
  </head>
  <body>
    <div class="contenedor">
    {{form(formulario)}}
    </div>
  </body>
</html>
