{% extends '::base.html.twig' %}
{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">Panel de creación de empresa</div>
  <body>
    <div class="contenedor">
    {{form(formulario)}}
    </div>
{% endblock %}
